
<!--lesson list body-->
<!--時制問題-->
<div class="body">

    <!--link to tense question-->
    <div id="<%- kind %>-tence" class="grammar">
        <a href="home/lesson/?type=<%- kind %>_tence&ja=時制" class="nav-link" name="<%- kind %>_tence">時制</a>
    </div>
</div>

<!--助動詞の問題-->
<div class="body">

    <!--link to tense question-->
    <div id="<%- kind %>-aux" class="aux">
        <a href="home/lesson/?type=<%- kind %>_aux&ja=助動詞" class="nav-link" name="<%- kind %>_aux">助動詞</a>
    </div>
</div>


<!--仮定法の問題-->
<div class="body">

    <!--link to tense question-->
    <div id="<%- kind %>-sub" class="sub">
        <a href="home/lesson/?type=<%- kind %>_sub&ja=仮定法" class="nav-link" name="<%- kind %>_sub">仮定法</a>
    </div>
</div>